<ion-header class="ion-no-border gray-background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  menu="mainMenu" autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inventory</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" (click)="addNewItem()">
        <ion-icon name="add-sharp"></ion-icon>
        New
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="gray-background">
  <ion-toolbar class=""> 
    <ion-searchbar (ionInput)="searchFor($event)"></ion-searchbar>
    
  </ion-toolbar>
    
    <ng-container *ngFor="let group of (inventoryItems$ | async)">

    <ion-list inset="true" lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right">  
    
      <ion-item-divider>
        <ion-label slot="start">{{ group.category  }}</ion-label>
      </ion-item-divider>
      
      <ion-item>
        <ion-note slot="start">Name</ion-note>
        <ion-note slot="end" class="ion-text-right" style="min-width:100px">On Hand</ion-note>
        <ion-note slot="end" class="ion-text-right" style="min-width:30px">&nbsp;</ion-note>
      </ion-item>
    
      <ion-item  button="true" detail="true" *ngFor="let item of (group.inventoryItems)" (click)="navigateToDetails(item.id)">
        <ion-label slot="start">{{item.name}}</ion-label>
        <ion-note slot="end" class="ion-text-right" style="min-width:100px">{{item.currentCount}}</ion-note>
        <ion-note slot="end" class="ion-text-right" style="min-width:5px"></ion-note>
      </ion-item>
    </ion-list>
    </ng-container>
    
    

</ion-content>

