<ion-card>
  <ion-card-header>
    <ion-card-title>Your Daily highlights</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   
    <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
      <ion-item >
        <ion-label slot="start" color="medium"><h2>Daily Sales</h2></ion-label>
        <ion-label slot="end" class="ion-text-end">{{totalSalesAmount | shopCurrency}}</ion-label>
      </ion-item>   
      <ion-item >
        <ion-label slot="start" color="medium"><h2>Value of Products Sold</h2></ion-label>
        <ion-label slot="end" class="ion-text-end">{{ totalProductCost | shopCurrency}}</ion-label>
      </ion-item>
      <ion-item >
        <ion-label slot="start" color="medium"><h2>Spoilage</h2></ion-label>
        <ion-label slot="end" class="ion-text-end">PHP890,000</ion-label>
      </ion-item>    
      <ion-item >
        <ion-label slot="start" color="medium"><h2>Invntory Counts</h2></ion-label>
        <ion-label slot="end" class="ion-text-end">PHP890,000</ion-label>
      </ion-item>    
      <ion-item >
        <ion-label slot="start" color="medium"><h2>Start of Day Count</h2></ion-label>
        <ion-label slot="end" class="ion-text-end">100 of 100 counted</ion-label>
      </ion-item>    
      <ion-item >
        <ion-label slot="start" color="medium"><h2>End of Day Count</h2></ion-label>
        <ion-label slot="end" class="ion-text-end">Not completed</ion-label>
      </ion-item>    
      
    </ion-list>
  </ion-card-content>
</ion-card>