<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="balance">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Balances</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="Scan"></ion-icon>
      <ion-label>Receive</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="create"></ion-icon>
      <ion-label>Count</ion-label>
    </ion-tab-button>

  </ion-tab-bar>


</ion-tabs>



