<ion-header class="ion-no-border">
  <ion-toolbar>    
    <ion-title>Add Product</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="productForm" >
    <ion-list lines="full" >
      
      <ion-item>
        <ion-label position="stacked">Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" formControlName="name" ></ion-input>   
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-input formControlName="description"></ion-input>   
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Category <ion-text color="danger">*</ion-text></ion-label>
        <ion-select multiple="false" placeholder="" formControlName="productCategory">
          <ion-select-option *ngFor="let category of productCategories" [value]="category">{{category.description}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Unit Price  <ion-text color="danger">*</ion-text></ion-label>
        <app-currency-input 
          [amount]="price.value" 
          (amountChange)="amountChange($event)"
          style="width:100%"
        ></app-currency-input>
      </ion-item>

      <ion-item>
        <tag-input formControlName="tags" theme="minimal"></tag-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Remarks </ion-label>
        <ion-textarea autoGrow="true" rows="5"></ion-textarea>
      </ion-item>

    </ion-list>
  </form>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="save()">
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>
