<ion-header class="gray-background ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Low Inventory Alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gray-background">
  <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
    <ion-item>
      <ion-note slot="start">Name</ion-note>
      <ion-note slot="end" class="ion-text-right" style="min-width:100px">On Hand</ion-note>
      <ion-note slot="end" class="ion-text-right" style="min-width:30px">&nbsp;</ion-note>
    </ion-item>
  
    <ion-item *ngFor="let item of (items)" button="true" detail="true" (click)="navigateToDetails(item.id)">
      <ion-label slot="start" color="medium"><h2>{{ item.name }}</h2></ion-label>
      <ion-label slot="end" class="ion-text-end">{{ item.currentCount  }}</ion-label>
      <ion-note slot="end" class="ion-text-right" style="min-width:5px"></ion-note>
    </ion-item>    
  </ion-list>
</ion-content>
