<ion-header class="gray-background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Your Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gray-background">
  <ion-list inset="true" lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right">

    <ion-item>
      <ion-note slot="start">Items</ion-note>
    </ion-item>

    <ion-item-sliding #slidingItem *ngFor="let item of (cartItems$|async)">
      <ion-item  lines="full" >
        <ion-badge slot="start" class="ion-text-right">
          {{item.quantity}}x
        </ion-badge>
        <ion-label slot="start">
         {{ item.product.name }} 
         <p *ngFor="let addon of (item.addons)">
          Addon: {{addon.name}} {{addon.quantity}}x
         </p>
        </ion-label>
        <ion-badge color="warning" *ngIf="!item.available">
          Out of Stock
        </ion-badge>
        <ion-label slot="end" class="ion-text-right " >
          {{ item.amount | currency: currencyCode }}
        </ion-label>

      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removeItem(item)">
          <ion-icon slot="top" name="trash"></ion-icon>
          <ion-text class="ion-text-capitalize" style="font-size: smaller;">Remove</ion-text>
        </ion-item-option>
        <ion-item-option color="light" (click)="modifyItem(item.product, item.quantity, item.addons)">
          <ion-icon slot="top" name="ellipsis-horizontal"></ion-icon>
          <ion-text class="ion-text-capitalize" style="font-size: smaller;">Change</ion-text>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item lines="none">
      <ion-label slot="end" class="ion-text-right">
        <strong>{{ totalCartAmount| currency:currencyCode}}</strong>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-toolbar>
    <ion-button color="primary" expand="full" class="ion-margin" (click)="navigateToCheckout()" [disabled]="totalCartItems < 1">Checkout</ion-button>
    <ion-button color="danger" expand="full" class="ion-margin" (click)="clearCart()" [disabled]="totalCartItems < 1">Empty Cart</ion-button>
  </ion-toolbar>
  
</ion-content>
