<ion-header class="gray-background ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  menu="mainMenu" autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="gray-background">
  <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right">
   
    <ion-item  button="true" detail="true" (click)="navigateToProfile()">
      <ion-label color="medium"><h2>Profile</h2></ion-label>
    </ion-item>

    <ion-item  button="true" detail="true" (click)="navigateToItemReceive(itemId)">
      <ion-label color="medium"><h2>Shop</h2></ion-label>
    </ion-item>

    <ion-item  button="true" detail="true" (click)="navigateToItemAdjustment(itemId)">
      <ion-label color="medium"><h2>Users</h2></ion-label>
    </ion-item>


  </ion-list>

  <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right">
   
    <ion-item  button="true" detail="true" (click)="navigateToItemCount(itemId)">
      <ion-label color="medium"><h2>Reset Password</h2></ion-label>
    </ion-item>

  </ion-list>

</ion-content>
