<ion-header class="gray-background ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
     
    <ion-title>Product Details</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="gray-background">
  <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
    
    <ion-item>
      <ion-label position="stacked">Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" value="Chili Cheese Tempura"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Description </ion-label>
      <ion-input required type="text" value="Our bestseller with 6pcs of tempura bathed in chili cheese sauce"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label position="stacked">Category</ion-label>
      <ion-select multiple="false" placeholder="" value="Buckets">
        <ion-select-option value="Buckets" selected>Buckets</ion-select-option>
        <ion-select-option value="bevrages">Beverages</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Suggested Retail Price </ion-label>
      <ion-input required type="number" value="1.00"></ion-input>
    </ion-item>


  </ion-list>

  <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
    <ion-item>
      <ion-label position="stacked">Notes</ion-label>
      <ion-input required type="text" ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list-header class="ion-border-bottom">
    <ion-label color="medium">Ingredients</ion-label>
  </ion-list-header>
  <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
   
    <ion-item>
      <ion-note slot="start">Name</ion-note>
      <ion-note slot="end">Qty</ion-note>
      <ion-note slot="end">Cost</ion-note>
    </ion-item>
    <ion-item-sliding>
      <ion-item>
        <ion-label slot="start">Bucket</ion-label>
        <ion-note slot="end">1</ion-note>
        <ion-note slot="end">7.50</ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="top" name="trash"></ion-icon>
          <ion-text class="ion-text-capitalize" style="font-size: smaller;">Remove</ion-text>
          
        </ion-item-option>
        <ion-item-option color="light">
          <ion-icon slot="top" name="ellipsis-horizontal"></ion-icon>
          <ion-text class="ion-text-capitalize" style="font-size: smaller;">Change</ion-text>
          
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label slot="start">Tempura</ion-label>
        <ion-note slot="end">6</ion-note>
        <ion-note slot="end">4.00</ion-note>
        
      </ion-item>
    </ion-item-sliding>
   
  </ion-list>


</ion-content>
