<ion-header class="gray-background ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gray-background">
  <form [formGroup]="changePasswordForm">
    <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
    
      <ion-item>
        <ion-label position="stacked">Old Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input class="password" required type="password" formControlName="currentPassword" ></ion-input>   
      </ion-item>
      <ion-item>
        <ion-label position="stacked">New Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input class="password" required type="password" formControlName="newPassword" ></ion-input>   
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirm Password <ion-text color="danger">*</ion-text></ion-label>
        <span class="icn" slot="end" *ngIf="!confirmPassword.valid">
          <ion-icon name="ios-checkmark-circle"></ion-icon>
        </span>
        <ion-input class="password" formControlName="confirmPassword" type="password" required="true"> </ion-input>
      </ion-item>
      
    </ion-list>
  </form>  
</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-button expand="block" color="primary" (click)="change()" [disabled]="!changePasswordForm.valid">
      Change Password
    </ion-button>
  </ion-toolbar>
</ion-footer>