<ion-header class="ion-no-border " translucent="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="the-content">
    <div class="ion-text-center">
      <img src="../../../assets/images/start-logo.png" />
      <h3>Get started with your account</h3>
      <ion-note>It just takes a few minutes</ion-note>
    </div>
    <form [formGroup]="signupForm" >
      <div class="details">
        
        <div class="detail-item">
          <ion-item>
            <span class="icn" slot="end" *ngIf="!displayName.invalid">
              <ion-icon name="ios-checkmark-circle"></ion-icon>
            </span>
            <ion-input formControlName="displayName" class="email" placeholder="Enter Your Name" type="text" required="true"> </ion-input>
          </ion-item>

          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.displayName">
              <div class="error-message"
                *ngIf="displayName.hasError(error.type) && (displayName.dirty || displayName.touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
        </div>

        <div class="detail-item">
          <ion-item>
            <span class="icn" slot="end" *ngIf="!email.invalid">
              <ion-icon name="ios-checkmark-circle"></ion-icon>
            </span>
            <ion-input formControlName="email" class="email" placeholder="Enter Your Email" type="email" required="true"> </ion-input>
          </ion-item>

          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.email">
              <div class="error-message"
                *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
        </div>

        <div class="detail-item">
          <ion-item>
            <span class="icn" slot="end" *ngIf="!password.invalid">
              <ion-icon name="ios-checkmark-circle"></ion-icon>
            </span>
            <ion-input class="password" placeholder="Create Your Password" formControlName="password" type="password" required="true"> </ion-input>
          </ion-item>
        </div>

        <div class="detail-item">
          <ion-item>
            <span class="icn" slot="end" *ngIf="!password.invalid">
              <ion-icon name="ios-checkmark-circle"></ion-icon>
            </span>
            <ion-input class="password" placeholder="Confirm Your Password" formControlName="confirmPassword" type="password" required="true"> </ion-input>
          </ion-item>
        </div>


        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.confirmPassword">
            <div class="error-message"
              *ngIf="confirmPassword.hasError(error.type) && (confirmPassword.dirty || confirmPassword.touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <div class="second-item ion-hide">
          <ion-item lines="none" id="rem" class="ion-no-padding">
            <ion-note class="ion-text-wrap">By creating an account, you agree to our Term and Conditions</ion-note>
            <ion-checkbox mode="ios" slot="start"></ion-checkbox>
          </ion-item>
        </div>

      </div>
    </form>
  </div>
  <div class="vertical-bottom">
    <div class="ion-text-center ion-padding ion-margin-bottom" >
      <ion-button size="block" type="submit" routerDirection="root" [disabled]="signupForm.invalid" (click)="signup()">
        Signup
      </ion-button>
      <div class="ion-margin-top">
        <ion-text  color="medium">
          By clicking on Signup, you agree to our Terms and have read and acknowledged our Privacy Statement. 
        </ion-text>
      </div>
    </div>  
  </div>
</ion-content>
