<ion-header class="gray-background ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gray-background">
  <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <p>{{count.type}} - {{ count.countOn.toDate() | date: 'longDate'}}</p>
    </ion-item>
  </ion-list>
  <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
    <ion-item>
      <ion-note slot="start" >Item</ion-note>
      <ion-note slot="end" class="ion-text-right">On Hand</ion-note>
      <ion-note slot="end" class="ion-text-right">Counted</ion-note>
      <ion-note slot="end" style="width: 10px;">&nbsp;</ion-note>
    </ion-item>
    <ion-item button="true" detail="true" *ngFor="let item of (items)" (click)="navigateToItemCountAdjustment(count.id, item)">
      <ion-label slot="start" style="width: 400em;">{{item.itemName}}</ion-label>
      <ion-badge color="warning" *ngIf="item.adjustedOn != null">
        Adjusted
      </ion-badge>
      <ion-note slot="end" class="ion-text-right" style="width: 50px;">{{item.onHand}}</ion-note>
      <ion-note slot="end" class="ion-text-right" style="width: 50px;">{{item.counted}}</ion-note>
      <ion-note slot="end" style="width: 3px;">&nbsp;</ion-note>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-button expand="block" color="primary" (click)="presentActionSheet()" >
      Options...
    </ion-button>
    
  </ion-toolbar>
</ion-footer>
