<ion-header class="gray-background ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Inventory Count</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gray-background">
  <form [formGroup]="inventoryCountForm">
    <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
    
      <ion-item>
        <ion-label position="stacked">Item <ion-text color="danger">*</ion-text></ion-label>
        <p>{{ item.name }}</p>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Count On <ion-text color="danger">*</ion-text></ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" min="1994-03-14"  formControlName="countOn"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Count <ion-text color="danger">*</ion-text></ion-label>
        <ion-input inputmode="decimal" type="number" formControlName="count" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Type </ion-label>
        <ion-select multiple="false" placeholder="" formControlName="type">
          <ion-select-option *ngFor="let type of countTypes" [value]="type">{{type}}</ion-select-option>
        </ion-select>   
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Notes </ion-label>
        <ion-textarea autoGrow="true" rows="3" formControlName="notes"></ion-textarea>
      </ion-item>

      </ion-list>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-button expand="block" color="primary" (click)="submit()" >
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>