<ion-app>
  <ion-split-pane contentId="mainContent">
    
    <ion-menu menuId="mainMenu" id="mainMenu" contentId="mainContent"  side="start" disabled="true">
      <ion-header>
        <ion-toolbar *ngIf="isAuthenticated | async">
          <div >
            <div class="img-holder">
              <ion-avatar>
                <img src="assets/images/no-user-image-square.jpg" alt="">
              </ion-avatar>
            </div>
            <div class="details ion-text-center">
              <h5>{{ name | async }}</h5>
              <p>{{ email | async }} <span *ngIf="isEmailVerified | async"><img  src="assets/images/verified.svg" alt=""></span></p>
            </div>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false"  *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="mainContent" ></ion-router-outlet>
  </ion-split-pane>
</ion-app>
