ion-header ion-toolbar {
  --background-color: transparent;
  --ion-color-base: transparent !important;
}
.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
}


ion-label.heading{
  font-size:1.3em;
}


.img-wrapper {
  min-height: 150px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
 }


 ion-img {
  margin-left: auto;
  margin-right: auto;

  max-width: 100%;
  max-height: 200px;
  border-radius: 0.6em;
  object-fit:scale-down;
}

.text-input {
  text-align: center;
  border:1px;
}