<ion-header class="ion-no-border gray-background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  menu="mainMenu" autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Overview</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="gray-background">

  <ion-grid>
    
    <ion-row>
      <ion-col>
        <app-sales-activity-card #salesActivityCard></app-sales-activity-card>  
      </ion-col>
    </ion-row>
      
    <ion-row color="primary">
      <ion-col>
        <app-sales-trend-chart #salesTrendChart></app-sales-trend-chart>  
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeLg="6" sizeMd="12" sizeXs="12">
        <app-sales-by-payment-type-card #salesByPaymentTypeCard></app-sales-by-payment-type-card>
      </ion-col>

      <ion-col sizeLg="6" sizeMd="12" sizeXs="12">
        <app-sales-by-product-category-card #salesByProductCategoryCard></app-sales-by-product-category-card>
      </ion-col>
    </ion-row>

    <ion-row>
      
      <ion-col sizeLg="6" sizeMd="12" sizeXs="12">
        <app-onhand-inventory-levels-card #onhandInventoryLevelsChart></app-onhand-inventory-levels-card>
      </ion-col>
      
      <ion-col sizeLg="6" sizeMd="12" sizeXs="12">
        <app-inventory-movement-card #inventoryMovementChart ></app-inventory-movement-card>
      </ion-col>
      
    </ion-row>


    <ion-row>
      <ion-col>
        <app-low-inventory-alerts-card #lowInventoryAlertsCard></app-low-inventory-alerts-card>
      </ion-col>
    </ion-row>

    
  </ion-grid>
 
</ion-content>
