<ion-header class="ion-no-border gray-background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  menu="mainMenu" autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Overview</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="gray-background">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
         
          <ion-card-content>
           
            <div class="ion-text-center  ion-padding ion-margin">
              <h1>Good day, <br/> <ion-text color="secondary">{{ name }}</ion-text> !</h1>
              <h1 style="margin-top:25px">Yesterday, you sold {{ productsSoldYesterday }} products and made {{ amountProductsSoldYesteday | shopCurrency}} in sales.</h1>
            </div>
            
            <div >
              <ion-button  fill="solid" expand="block" color="primary" (click)="navigateToDailyReport()">
             
                <ion-text class="ion-margin-left" slot="start">
                Open Your Daily Report
                </ion-text>

              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    
    
    <ion-row color="primary">
      <ion-col>
        <app-sales-trend-chart #salesTrendChart></app-sales-trend-chart>  
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeLg="6" sizeMd="12" sizeXs="12">
        <app-sales-by-payment-type-card #salesByPaymentTypeCard></app-sales-by-payment-type-card>
      </ion-col>

      <ion-col sizeLg="6" sizeMd="12" sizeXs="12">
        <app-sales-by-product-category-card #salesByProductCategoryCard></app-sales-by-product-category-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-low-inventory-alerts-card #lowInventoryAlertsCard></app-low-inventory-alerts-card>
      </ion-col>
    </ion-row>

    
  </ion-grid>
 
</ion-content>
