<ion-header class="gray-background ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
     
    <ion-title>Product Details</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="gray-background">
  <form [formGroup]="productForm" >
  <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
  
    <ion-item>
      <ion-label position="stacked">Code <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" formControlName="code" ></ion-input>   
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" formControlName="name" ></ion-input>   
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input formControlName="description"></ion-input>   
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Unit Price  <ion-text color="danger">*</ion-text></ion-label>
      <ion-input inputmode="decimal" type="number" formControlName="price"  ></ion-input>
    </ion-item>

    

    <ion-item>
      <ion-label position="stacked">Remarks </ion-label>
      <ion-textarea autoGrow="true" rows="5"></ion-textarea>
    </ion-item>

  </ion-list>

  <ion-list-header class="ion-border-bottom">
    <ion-label color="medium">Tags</ion-label>
  </ion-list-header>
  <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
    <ion-item>
      <tag-input formControlName="tags" theme="minimal"></tag-input>
    </ion-item>
  </ion-list>

  <ion-list-header class="ion-border-bottom">
    <ion-label color="medium">Add Ons</ion-label>
  </ion-list-header>
  <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
   
    <ion-item>
      <ion-note slot="start">Name</ion-note>
      <ion-note slot="end" class="ion-text-right" style="min-width:100px">Price</ion-note>
    </ion-item>
    <ion-item-sliding *ngFor="let productAddon of productAddOns">
      <ion-item>
        <ion-label slot="start">{{ productAddon.name }}</ion-label>
        <ion-note slot="end" class="ion-text-right" style="min-width:100px">{{ productAddon.price | shopCurrency }}</ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteAddon(productId, productAddon)">
          <ion-icon slot="top" name="trash"></ion-icon>
          <ion-text class="ion-text-capitalize" style="font-size: smaller;">Remove</ion-text>
          
        </ion-item-option>
        <ion-item-option color="light" (click)="navigateToAddOn(productId, productAddon)">
          <ion-icon slot="top" name="ellipsis-horizontal"></ion-icon>
          <ion-text class="ion-text-capitalize" style="font-size: smaller;">Change</ion-text>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
    <ion-item  button="true" detail="true" (click)="navigateToAddOn(productId, null)">
      <ion-icon name="folder-outline" size="small"></ion-icon>
      <ion-label color="medium" size="small" class="ion-margin-start">Include Add On</ion-label>
    </ion-item>
  </ion-list>


  <ion-list-header class="ion-border-bottom">
    <ion-label color="medium">Inventory Tracking</ion-label>
  </ion-list-header>
  <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
   
    <ion-item>
      <ion-note slot="start">Name</ion-note>
      <ion-note slot="end" class="ion-text-right" style="min-width:100px">Qty per Sale</ion-note>
    </ion-item>
    <ion-item-sliding *ngFor="let productItem of productItems">
      <ion-item>
        <ion-label slot="start">{{ productItem.itemName }}</ion-label>
        <ion-note slot="end" class="ion-text-right" style="min-width:100px">{{ productItem.quantity }}</ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteItem(productId, productItem)">
          <ion-icon slot="top" name="trash"></ion-icon>
          <ion-text class="ion-text-capitalize" style="font-size: smaller;">Remove</ion-text>
          
        </ion-item-option>
        <ion-item-option color="light" (click)="navigateToBOM(productId, productItem)">
          <ion-icon slot="top" name="ellipsis-horizontal"></ion-icon>
          <ion-text class="ion-text-capitalize" style="font-size: smaller;">Change</ion-text>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
    <ion-item  button="true" detail="true" (click)="navigateToBOM(productId, null)">
      <ion-icon name="link-outline" size="small"></ion-icon>
      <ion-label color="medium" class="ion-margin-start">Link to Inventory</ion-label>
    </ion-item>
  </ion-list>


  </form>

</ion-content>
