<ion-header class="ion-no-border gray-background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  menu="mainMenu" autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inventory Counts</ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content class="gray-background">

  <ion-list inset="true" lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right">  
    
    <ion-item>
      <ion-note slot="start">Item</ion-note>
      <ion-note slot="end" class="ion-text-right" style="min-width:100px">Qty Counted</ion-note>
      <ion-note slot="end" class="ion-text-right" style="min-width:30px">&nbsp;</ion-note>
    </ion-item>
  
    <ion-item  button="true" detail="true" *ngFor="let count of (inventoryCounts$ | async)" (click)="navigateToItemCountDetails(count.id)">
      <ion-label slot="start">{{count.itemName}}</ion-label>
      <ion-note slot="end" class="ion-text-right" style="min-width:100px">{{count.count}}</ion-note>
      <ion-note slot="end" class="ion-text-right" style="min-width:5px"></ion-note>
    </ion-item>
  </ion-list>
  

</ion-content>


