<ion-header translucent="true" class="ion-no-border gray-background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  menu="mainMenu" autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="gray-background">
  <ion-toolbar class="ion-no-padding"> 
    <ion-searchbar (ionInput)="searchFor($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar  class="ion-margin">
    <ion-chip [color]="toggleFilters('all')" (click)="filterBy('all')">
      <ion-label>All</ion-label>
    </ion-chip>
    <ion-chip *ngFor="let category of productCategories" [color]="toggleFilters(category.description)" (click)="filterBy(category.description)">
      <ion-label>{{ category.description }}</ion-label>
    </ion-chip>
  </ion-toolbar>
  <ion-grid>
    <ng-container *ngFor="let group of (products$ | async)" >
      <ion-row *ngIf="filter=='all' || filter == group.category">
        <ion-col class="ion-padding">
          <ion-label>{{ group.category }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="filter=='all' || filter == group.category ">
        <ion-col sizeLg="4" sizeMd="8" sizeXs="12" *ngFor="let product of (group.products)">
          <ion-card button="true" (click)="orderProduct(product)">
            
            <ion-card-content class="ion-no-padding ion-no-margin" >
              <ion-row class="ion-no-padding ion-no-margin" >
                <ion-col class="" size="5" >
                  <div *ngIf="product.imageUrl">
                    <ion-img [src]="product.imageUrl" ></ion-img>
                  </div>
                  <div  *ngIf="!product.imageUrl">
                    <ion-img src="assets/images/no-image-available.png" alt="" *ngIf="!product.imageUrl"></ion-img>
                  </div>
                </ion-col>
                <ion-col class="ion-padding" size="7">
                  <ion-card-title>{{ product.name}}</ion-card-title>
                  <ion-card-subtitle>{{ product.price | shopCurrency }}</ion-card-subtitle>
                  <p>
                    {{ product.description }}
                  </p>
                </ion-col>
                
              </ion-row>
            </ion-card-content>
          
          </ion-card>
        </ion-col>
        
      </ion-row>
    </ng-container>
  
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
   
    <ion-buttons slot="end">
      <ion-button fill="solid" expand="block" color="primary" (click)="navigateToCart()">
        <ion-icon name="cart-outline" slot="start"></ion-icon>
        <ion-text class="ion-margin-left" slot="end">
          {{ totalCartAmount | shopCurrency }}
        </ion-text>
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>
