<ion-card class="ion-margin" >
  <ion-card-header>
    <ion-card-title size="small">
      <ion-text size="small" class="ion-margin-left">Sales By Payment Type </ion-text> 
    </ion-card-title>
    <ion-card-subtitle>
      {{filterLabel}}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content style="height:280px"> 
    
    <ion-list lines="full" class="ion-margin ion-no-padding ion-padding-left ion-padding-right" >
      <ion-item *ngFor="let paymentType of (salesByPaymentType)">
        <ion-avatar slot="start">
          <app-text-avatar [text]="paymentType.description" textColor="white"></app-text-avatar>
        </ion-avatar>
        <ion-note slot="" color="medium" style="max-width:100px"><h2>{{ paymentType.description }}</h2></ion-note>
        <ion-label slot="end" class="ion-text-end" >
          {{ paymentType.totalSale | shopCurrency}}
        </ion-label>
      </ion-item>    
    </ion-list>

  </ion-card-content>

  <div class="ion-text-center ion-padding">
    <ion-chip [color]="togglePeriodFilter('today')" (click)="filterByPeriod('today')">
      <ion-label>1D</ion-label>
    </ion-chip>
    <ion-chip [color]="togglePeriodFilter('thisWeek')" (click)="filterByPeriod('thisWeek')">
      <ion-label>1W</ion-label>
    </ion-chip>
    <ion-chip [color]="togglePeriodFilter('thisMonth')" (click)="filterByPeriod('thisMonth')">
      <ion-label>1M</ion-label>
    </ion-chip>
    <ion-chip [color]="togglePeriodFilter('thisQuarter')" (click)="filterByPeriod('thisQuarter')">
      <ion-label>1Q</ion-label>
    </ion-chip>
    <ion-chip [color]="togglePeriodFilter('thisYear')" (click)="filterByPeriod('thisYear')">
      <ion-label>1Y</ion-label>
    </ion-chip>
  </div>
 
</ion-card>
