<ion-content>
  <div class="logo-wrapper">
    <div class="the-title ion-text-center img-wrapper">
      <img src="assets/images/start-logo.png" />
    </div>
    
  </div>

  <div class="vertical-bottom">
    <div>
      <div class="ion-text-center  ion-padding-bottom">
        <ion-button  (click)="goToLogin()">
          Sign In
        </ion-button>
      </div>
    
      <div class="ion-text-center">
        <a (click)="goToSignup()">Sign Up</a>
      </div>
    </div>   
  </div>
</ion-content>
